body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f6f6f6;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    color: #ff7f50;
    text-align: center;
    font-size: 24px;
}

p {
    text-align: left;
}


/* table {
    border-color: ;
    width: 100%;

} */

/* tr {
    background: #ff7f50;
} */

/* td {
    padding: 5px;
} */

/* td {
    background: white;
} */

/* tr:nth-child(odd) td{
    background: whitesmoke;
} */



/* .form-group {
    margin-bottom: 20px;
} */

/* label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
} */

/* input[type="text"],
input[type="date"],
select,
input[type="number"], */
/* textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
} */

/* input[type="text"]:focus,
input[type="date"]:focus,
select:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: #0077B6;
} */

/* .submit-button {
    background-color: #0077B6;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
} */

/* .submit-button:hover {
    background-color: #005D8F;
} */
.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.attendance-table th, .attendance-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.attendance-table th {
    background-color: #464646;
    color: #fff;
}

.attendance-table tr:nth-child(even) {
    background-color: whitesmoke;
}

.attendance-table tr:hover {
    background-color: #b8b8b8;
}

.back-button {
    margin-top: 20px;
    text-align: center;
}