/* タイトルのスタイル */
h1 {
    color: #FF7F50;
    text-align: center;
}

body {
    text-align: center;
}

/* フォーム全体のスタイル */
.form-group {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

/* ボタンのスタイル */
.button-group {
    text-align: center;
}

.button-group input[type="submit"],
.button-group input[type="button"],
.button-group a,
.submitButton {
    background-color: #FF7F50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* 入力グループのスタイル */
.input-group {
    margin-bottom: 1em;
}

/* 共通の入力スタイル */
input[type="text"],
select,
textarea,
input[type="time"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 1em;
    box-sizing: border-box;
}

/* 日付と時間の入力スタイル (input-group内) */
.input-group input[type="date"],
.input-group input[type="time"] {
    width: 100%;
}

.label {
    display: block;
    margin-bottom: 0.5em;
}

.error-message {
    color: red;
}
