<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/css/expense/view.css">
</head>
<body>
	<div class="container">
		<h1>経費情報詳細</h1>
        <div th:object="${expenseData}">
            <div class="form-group">
                <label for="userId">ユーザーID:</label>
                <input type="text" id="userId" th:field="*{userId}" disabled>
            </div>
			<div class="form-group">
			    <label for="applicationDate">申請日:</label>
			    <input type="date" th:value="${#dates.format(expenseData.applicationDate, 'yyyy-MM-dd')}" disabled>
			</div>
            <div class="form-group">
                <label for="expenseCategory">経費項目:</label>
                <select id="expenseCategory" th:field="*{expenseCategory}" disabled>
					<option th:each="category : ${expenseCategories}" 
					    th:value="${category.value}" 
					    th:text="${category.label}" 
					    th:selected="${category.value == expenseData.expenseCategory}">
					</option>
                </select>
            </div>
            <div class="form-group">
                <label for="amount">経費金額:</label>
                <input type="number" id="amount" th:field="*{amount}" min="0" disabled>
            </div>
            <div class="form-group">
                <label for="description">備考:</label>
                <textarea id="description" th:field="*{description}" rows="4" maxlength="50" disabled></textarea>
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
            </div>
		    <div class="form-group">
		        <a th:href="@{/expense/{id}/edit(id=*{id})}" class="btn-edit" aria-disabled="true">編集</a>
			    <a th:href="@{/expense/{id}/delete(id=*{id})}" class="btn-disabled" aria-disabled="true">削除</a>
			    <a href="/expense/list" class="btn-return">一覧に戻る</a>
		    </div>
        </div>
    </div>
</body>
</html>